$colors: (
    neutral: (
        100: white,
        200: #e6e6e6,
        300: #cccccc,
        400: #b3b3b3,
        500: #999999,
        600: #808080,
        700: #666666,
        800: #4c4c4c,
        900: #333333,
    ),
    primary: (
        100: #fff6e6,
        200: #fdd183,
        300: #fbb539,
        400: #faa307,
        500: #e19306,
        600: #af7205,
        700: #7d5204,
        800: #4b3102,
        900: #191001,
    ),
    accent: (
        100: #e4f4d3,
        300:#a6e067,
        400: #7aca25,
        600: #558d1a,
        700: #477f0c,
        900: #253d0b,
    ),
);
