@use "../abstracts/" as *;

.card {
    box-shadow: rgba(clr(neutral, 900), 0.12) 0px 1px 3px,
        rgba(clr(primary, 900), 0.24) 0px 1px 2px;
    padding: size(8);
    flex-basis: 300px;
    margin-inline: auto;
    max-height: fit-content;

    &-thumbnail {
        width: rem(300);
        height: rem(300);
        object-fit: cover;
        margin-bottom: size(8);
    }

    .recipe-name {
        font-weight: fw(bold);
        height: 2.5em;
    }

    .recipe-info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: size(8);
    }

    details {
        position: relative;
    }
}

canvas {
    &-container {
        position: relative;
    }
}

.calorie-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
    font-size: fs(600);
    font-family: ff("marcellus");
}

.contains {
    &:empty {
        display: none;
    }
    color: clr(primary, 500);
    user-select: none;

    &[data-label="caution"]::before {
        content: "Contains: ";
    }

    &[data-label="health"] {
        color: clr(accent, 400);
    }
}

ul {
    font-family: ff(marcellus);
    li {
        border-bottom: 1px solid rgba(clr(primary, 900), 0.24);
        padding-block: size(4);
    }

    &[data-list="nutrition"] {
        li {
            display: flex;
            justify-content: space-between;
        }
    }
}
