@use "../abstracts/" as *;

details {
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    max-height: size(36);
    transition: all 250ms ease-in-out;
    overflow: hidden;
    user-select: none;
    
    summary {
        list-style: none;
        border-radius: 0.2rem;
        display: flex;
        outline-color: clr(primary, 700);
        outline-offset: 0.2rem;
        border-bottom: 1px solid clr(neutral, 200);

        text: {
            align: left;
        }

        font: {
            size: fs(500);
        }

        &::after {
            content: "\002B";
            margin-left: auto;
            margin-right: 2rem;
            font-weight: bold;
        }
    }

    &[open] {
        max-height: 100vh;
    }

    &[open] summary {
        padding-bottom: 1em;
        margin-bottom: 0.75rem;
        color: clr(accent, 700);

        &::after {
            content: "\2212";
        }
    }
}
